<h1>Friends List</h1>
<% friends.forEach(function (friend){%>
<li><%=friend%></li>
<%});%>

<form action="/addFriends" method="post">
    <input type="text" name="new_name" placeholder="name ">
    <button> I made a new Friend</button>
</form>